
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to new_design_path, class: 'custom-a-tag' do %>
          <div class="custom-card">
            <div class="custom-icon">
              <img class="custom-card-img" src="<%= image_url('new-design.png') %>">
            </div>
            <h1 class="custom-card-h1">New Design</h1>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="custom-card">
          <div class="custom-icon">
            <img class="custom-card-img" src="<%= image_url('my-design-icon.png') %>">
          </div>
          <h1 class="custom-card-h1">My Design</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card">
          <div class="custom-icon">
            <img class="custom-card-img" src="<%= image_url('library.png') %>">
          </div>
          <h1 class="custom-card-h1">Library</h1>
        </div>
      </div>
    </div>
  </div>
</div>
